@charset "UTF-8";

@font-face {
    font-family: 'Alte-DIN-1451-Mittelschrift';
    src: url('../font/Alte-DIN-1451-Mittelschrift.ttf.woff') format('woff'),
    url('../font/Alte-DIN-1451-Mittelschrift.ttf.svg#Alte-DIN-1451-Mittelschrift') format('svg'),
    url('../font/Alte-DIN-1451-Mittelschrift.ttf.eot'),
    url('../font/Alte-DIN-1451-Mittelschrift.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

body::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background-image: url(../img/bg.jpg);
    background-position: 50% 0;
    background-repeat: no-repeat;
    opacity: 0.5;
}

a {
    text-decoration: underline;
}