@charset "UTF-8";

footer {
    width: 100vw;
    height: 5rem;
    background-color: $cyan;
}

.copyright {
    margin: 0 auto;
    width: 100%;
    max-width: 920px;
    text-align: center;
    line-height: 5rem;
    color: $white;
    font-size: 0.75rem;
}
