@charset "UTF-8";

body>header {
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    display: block;
    background-color: $cyan;
    z-index: 100;

    @media (max-width: 952px) {
        height: 4rem;
    }

}

.gnav {
    margin: 0 auto;
    width: 100%;
    max-width: 920px;
    position: relative;

    &-input {
        display: none;

        @media (max-width: 952px) {

            &:checked~.gnav-contents {
                height: 100vh;
                overflow: auto;
            }

            &:checked~.gnav-contents .gnav-contents__item {
                transform: translateX(0);
            }
            &:checked~.gnav-open:before {
                opacity: 0;
                transition: opacity 0.3s;
            }
            &:checked~.gnav-open:after {
                opacity: 1;
                transition: opacity 0.3s;
            }
        }

    }

    &-open {
        display: none;

        @media (max-width: 952px) {
            margin: auto;
            width: 3rem;
            height: 3rem;
            display: block;
            position: absolute;
            top: 0.5rem;
            right: 1rem;
            content: "";
            cursor: pointer;
            z-index: 300;
        }

        &:before {
            @media (max-width: 952px) {
                margin: auto;
                width: 2.5rem;
                height: 2.5rem;
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                content: "";
                cursor: pointer;
                background-image: url(../img/icon-hamberger.svg);
                background-repeat: no-repeat;
                background-position: center;
                opacity: 1;
                transition: opacity 0.3s;
            }
        }

        &:after {
            @media (max-width: 952px) {
                margin: auto;
                width: 2rem;
                height: 2rem;
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                content: "";
                cursor: pointer;
                background-image: url(../img/icon-hamberger_c.svg);
                background-repeat: no-repeat;
                background-position: center;
                opacity: 0;
                transition: opacity 0.3s;
            }
        }


    }

    &-contents {
        padding: 0;
        display: flex;
        justify-content: space-between;
        list-style: none;
        overflow: hidden;

        @media (max-width: 952px) {
            padding-top: 4rem;
            height: 4rem;
            display: block;
            position: relative;
            transition: ease-in-out 0.3s;
        }

        &__home {
            @media (max-width: 952px) {
                width: 100vw;
                height: 4rem;
                display: block;
                content: "";
                position: fixed;
                top: 0;
                left: 0;
                background-color: $cyan;
                z-index: 200;
            }
        }

        &__item {
            padding-right: 1.25rem;
            color: $white;
            font-size: 1.25rem;
            font-weight: normal;
            line-height: 2.5rem;
            font-family: 'Alte-DIN-1451-Mittelschrift';
            text-decoration: none;
            position: relative;
            display: block;

            @media (max-width: 952px) {
                padding-left: 1rem;
                height: 4rem;
                line-height: 4rem;
                transform: translatex(105%);
                display: block;
                background-color: rgba(15, 124, 178, 0.5);
                transition: 0;
            }


            &:after {
                margin-top: 0.75rem;
                width: 1rem;
                height: 1rem;
                line-height: 1rem;
                content: url(../img/icon-arrow.svg);
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                @media (max-width: 952px) {
                    width: 2rem;
                    height: 2rem;
                    right: 1.5rem;
                }
            }

            &:hover {
                color: $white;
                text-decoration: none;
                opacity: 0.8;

                &:after {
                    transform: rotate(0.25turn);
                }

            }

            &.item-home {
                margin-right: 5rem;
                padding-top: 2.5rem;
                padding-right: 0;
                width: 1.5rem;
                height: 0;
                overflow: hidden;
                background-image: url(../img/icon-home.svg);
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: center center;

                &:after {
                    display: none;
                }

                @media (max-width: 952px) {
                    margin-left: 1rem;
                    width: 2rem;
                    transform: translatex(0);
                    padding-top: 4rem;
                }
            }

            &.item-about {
                @media (max-width: 952px) {
                    transition: ease-in-out 0.3s;
                }
            }

            &.item-training {
                @media (max-width: 952px) {
                    transition: ease-in-out 0.35s;
                }
            }

            &.item-talks {
                @media (max-width: 952px) {
                    transition: ease-in-out 0.4s;
                }
            }

            &.item-sprints {
                @media (max-width: 952px) {
                    transition: ease-in-out 0.45s;
                }
            }

            &.item-venue {
                @media (max-width: 952px) {
                    transition: ease-in-out 0.5s;
                }
            }

            &.item-terms {
                @media (max-width: 952px) {
                    transition: ease-in-out 0.55s;
                }
            }

            &.item-contact {
                margin-left: 5rem;
                padding-top: 2.5rem;
                padding-right: 0;
                width: 1.5rem;
                height: 0;
                overflow: hidden;
                background-image: url(../img/icon-contact.svg);
                background-repeat: no-repeat;
                background-size: 80%;
                background-position: center center;

                &:after {
                    display: none;

                    @media (max-width: 952px) {
                        display: block;
                    }
                }

                @media (max-width: 952px) {
                    margin-left: 0;
                    padding-top: 0;
                    width: 100%;
                    height: 4rem;
                    background-image: none;
                    transition: ease-in-out 0.6s;
                }

            }

            &.item-search {
                padding-top: 2.5rem;
                padding-right: 0;
                width: 1.5rem;
                height: 0;
                overflow: hidden;
                background-image: url(../img/icon-search.svg);
                background-repeat: no-repeat;
                background-size: 80%;
                background-position: center center;

                &:after {
                    display: none;

                    @media (max-width: 952px) {
                        display: block;
                    }
                }

                @media (max-width: 952px) {
                    margin-left: 0;
                    padding-top: 0;
                    width: 100%;
                    height: 4rem;
                    background-image: none;
                    transition: ease-in-out 0.65s;
                }
            }

        }

    }

}
