@charset "UTF-8";

.home {
    &:before {
        opacity: 1.0;
    }
}

.logo {
    margin: 8rem auto;
    width: 100%;
    max-width: 500px;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.2));

    @media (max-width: 952px) {
        width: calc(100vw - 2rem);
    }

}

.event {
    margin: 0 auto 3.5rem;
    padding: 3rem 18rem 0 12rem;
    width: 100%;
    height: 20rem;
    background-color: $white;
    background-repeat: no-repeat;
    background-size: auto 16rem;
    background-position: left 3rem center;
    border-radius: 1rem;
    position: relative;
    line-height: 1;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.2));

    @media (max-width: 952px) {
        padding: 2rem 1rem 2rem 7rem;
        width: calc(100vw - 2rem);
        height: 18rem;
        background-size: 3.5rem auto;
        background-position: left 1.5rem top 2rem;
    }

    @media (max-width: 666px) {
        padding: 2rem 1rem 2rem 5rem;
        width: calc(100vw - 2rem);
        height: 18rem;
        background-size: 3rem auto;
        background-position: left 1rem top 2rem;
    }


    &-title {
        font-size: 6rem;
        font-family: 'Alte-DIN-1451-Mittelschrift';

        @media (max-width: 952px) {
            font-size: 4rem;
        }

        @media (max-width: 666px) {
            font-size: 3rem;
        }

    }

    &-date {
        font-size: 3rem;
        font-family: 'Alte-DIN-1451-Mittelschrift';
        color: $glay;

        @media (max-width: 952px) {
            font-size: 1.5rem;
        }

    }

    &-copy {
        font-size: 1.5rem;
        font-family: 'Roboto', sans-serif;
        color: $glay;

        @media (max-width: 952px) {
            font-size: 1.2rem;
        }

        @media (max-width: 666px) {
            font-size: 1rem;
        }

    }

    &-link {
        padding-top: 20rem;
        width: 15rem;
        height: 0;
        position: absolute;
        overflow: hidden;
        bottom: 0;
        right: 0;
        display: block;
        background-color: $glay;
        border-radius: 0 1rem 1rem 0;

        @media (max-width: 952px) {
            padding-top: 5rem;
            width: 100%;
            border-radius: 0 0 1rem 1rem;
        }

        &:after {
            margin: auto;
            width: 7.5rem;
            height: 7.5rem;
            content: url(../img/icon-arrow.svg);
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            transition: .4s;

            @media (max-width: 952px) {
                width: 3.5rem;
                height: 3.5rem;
            }

        }

        &:hover:after {
            transform: rotate(0.25turn);
            transform-origin: 50% 50%;
        }

    }

    &.event-training {
        background-image: url(../img/titlelogo-trainig.svg);

        .event-link {
            background-color: $yellow;
        }
    }

    &.event-talks {
        background-image: url(../img/titlelogo-talks.svg);

        .event-link {
            background-color: $cyan;
        }
    }

    &.event-party {
        background-image: url(../img/titlelogo-party.svg);

        .event-link {
            background-color: $magenta;
        }
    }

    &.event-sprints {
        background-image: url(../img/titlelogo-sprints.svg);

        .event-link {
            background-color: $green;
        }
    }

}

.sponsors {
    margin: 0 auto 3.5rem;
    padding: 3rem;
    width: 100%;
    background-color: $white;
    border-radius: 1rem;
    position: relative;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.2));

    @media (max-width: 952px) {
        padding: 1rem;
        width: calc(100vw - 2rem);
    }

    &-grade {
        font-size: 3rem;
        font-family: 'Alte-DIN-1451-Mittelschrift';
        color: $glay;

        @media (max-width: 952px) {
            font-size: 1.5rem;
        }

    }

    &-list {
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        &__sponsor {
            margin-bottom: 2rem;
            display: block;

            img {
                height: 4.5rem;

                @media (max-width: 952px) {
                    height: 3rem;
                }

            }
        }

    }

}
