@charset "UTF-8";

@import "../../core/_variable";

/* ReBoot */

@import "../../_reboot";

/* General */

@import "../../_general";

/* Base */

@import "../../_base";

/* Layout */

/*==============================
headr
==============================*/

@import "../../_header";

/*==============================
main
==============================*/

@import "../../_main";

/*==============================
footer
==============================*/

@import "../../_footer";


h1 {
    margin: 0;
    width: 500px;
    filter: drop-shadow(0 0 4px rgba(0,0,0,0.2));
}


/*memo
    font-family: 'Roboto', sans-serif;
    font-family: 'Alte-DIN-1451-Mittelschrift'; 
*/